html
    head
        title Random Person
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(href='../bower_components/angular-material/angular-material.css' rel='stylesheet')
        script(src='../bower_components/angular/angular.js')
        script(src='../bower_components/angular-animate/angular-animate.js')
        script(src='../bower_components/angular-aria/angular-aria.js')
        script(src='../bower_components/angular-material/angular-material.js')
        script(src='../bower_components/jquery/dist/jquery.min.js')
        script(src='./javascripts/build.js')
    body(ng-app='randomPerson' layout='column' ng-controller='rgCtrl' ng-keyup='callRender($event)')
        md-toolbar.md-medium-tall(layout='row')
            h1(style='color:rgba(255,255,255, .8);') Random Person
        md-content#content(flex style='text-align:center;')
            md-card(layout='column' layout-align='center center' flex-sm='80' flex-offset-sm='10' flex-gt-xs='60' flex-xs='94' flex-offset-xs='3' flex-offset-gt-xs='20' layout-padding)
                md-radio-group(layout='row')
                    md-radio-button(value='2' aria-label='Male') Male
                    md-radio-button(value='1' aria-label='Female') Female
                    md-radio-button(value='0' aria-label='Random') Random
                .layout-fill-width(layout-xs='column' layout='row' layout-align='center')
                    md-input-container.layout-fill-width
                        label(for='address' ) Address
                        input#address(type='text' )
                    md-button.md-raised(ng-click='renderContent()') GET!

            .loader_wrapper
                md-progress-circular(md-mode='indeterminate' md-diameter='100%' style='margin-top: -50px; display: none;')
                a(href='{{personLink}}' target='_blank')
                    .photo_image
            a(href='{{personLink}}' target='_blank')
                h1 {{personName}}
            ul(layout='row' layout-xs='column' flex='' layout-sm='column' )
                li
                    img(src='/images/min/randomness.png')
                    h1 Randomness
                    |Don’t wont to randomly scroll a list of group members? Just use this site!
                li
                    img(src='/images/min/traffic_light.png')
                    h1 Ready to start
                    |No additional actions are required. You can start to use it right now!
                li
                    img(src='/images/min/usability.png')
                    h1 Easy to use
                    |Just paste a link into the field above and press the button!