html
    head
        link(rel='stylesheet', href='/stylesheets/landing.css' lazyload)
    body
        .main
            h1.title  Get some random right now!
            .rg-form
                input(type='text' id='' name='address' placeholder='Enter a group address')
                button.send_request GET!
    script.
       function $(selector){
           return document.querySelector(selector);
       }
       $('button').onclick = function(event){
           var headingAnimation = $('h1').animate([
               {opacity: '1', transform: 'translateY(0rem)', offset: 0},
               {opacity: '0', transform: 'translateY(-4rem)', offset: 1}
           ], {
               duration: 500,
               easing: 'cubic-bezier(0.4, 0, 0.2, 1)',
               iterations: 1,
               fill: 'forwards'
           })
           var formAnimation = $('.rg-form').animate([
               {transform: 'translateY(0rem)', offset: 0},
               {transform: 'translateY(-8rem)', offset: 1}
           ], {
               duration: 500,
               easing: 'cubic-bezier(0.4, 0, 0.2, 1)',
               iterations: 1,
               fill: 'forwards'
           });


       }
