extends layout

block no
    .main
        h1.title  Get some random right now!
        .rg-form
            input(type='text' id='' name='address' placeholder='Enter a group address')
            button.send_request(onclick="fetch('/random', {method: 'POST', body: 'address='+document.forms.addressForm.querySelector('input').value, headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' } }).then(r => r.json()).then(data => console.log(data))") GET!
    .pics
        ul
            li
                .div
                    img(src='/images/randomness.png')
                    .description
                        h1(align="center") Randomness
                        .desc
                            p(align="center") Don’t wont to randomly scroll a list of group members? Just use this site!
            li
                .div
                    img(src='/images/traffic_light.png')
                    .description
                        h1(align="center") Ready to start
                        .desc
                            p No additional actions are required. You can start to use it right now!
            li
                .div
                    img(src='/images/usability.png')
                    .description
                        h1(align="center") Easy to use
                        .desc
                            p Just paste a link into the field above and press the button!
