doctype html
html(ng-app='appModule')
    head
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    body(ng-controller='SuperController')
        .container
            header
                h1 Random Girl
            block content
            block results
        footer
            .copyright © 2015
                a(href='http://vk.com/ksenkso' target='_blank') @ksenkso
        link(rel='stylesheet', href='/stylesheets/#{style}.css' lazyload)
        script(src='/javascripts/build.js')


