extends layout

block results
    .main
        h1.title Random Girl:
            pre.photo
                a.link_name(href="https://vk.com/id#{randomGirl.uid}" target="_blank")
                    h1.name #{randomGirl.first_name} #{randomGirl.last_name}
                a.link_photo(href="https://vk.com/id#{randomGirl.uid}" target="_blank")
                    img(src="#{randomGirl.photo_max_orig}")
        button.reroll(onclick="fetch('/reroll', {method: 'GET'}).then(response => console.log(response.json())).catch(console.log)") Re-roll