@import "vars.scss";
@import "media.scss";

button {
  @include heading($darkText, 2rem);
  @include bp-small {
    width: 90%;
    margin-left: 0 !important;
  }
  @include bp-large {
    width: 80vw;
    margin-left: 0 !important;
  }
  @include button($primaryColor);
  margin-left: 10px;
  margin-top: 30px;
  border: none;
  line-height: 3rem;
  height: 3rem;
  width: 5rem;
  color: $lightText;
}