@import "mixins.scss";
@import "fonts.scss";
@import "vars.scss";
@import "media.scss";
@import "template.scss";
@import "loader.scss";

.rg-form {
  text-align: center;
  display: flex;
  @include bp-large{
    flex-direction: column;
  }
}
@keyframes height {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 100%;
    }
}
.rg-card{
  margin: 0 auto;
  width: 44vw;
  @include bp-large{
    width: 90vw;
    margin: 0 auto;
  }
  @include bp-small{
    width: 90vw;
  }
  & > * {
    text-align: center;
    display: flex;
  }
  &.rg-response{
    max-height: 0;

    transition: max-height 1.5s cubic-bezier(.4, 0, .2, 1);
    &.open{
      max-height: 100vw;
    }
    & > * {
      max-width: 90%;
      margin: 0 auto;
      max-height: inherit;
    }
  }

  & .rg-address{
    flex-grow: 1;
    align-self: flex-start;
    @include heading($darkText, 2rem);
    @include bp-large{
      width: 90vw;
      background-position: -90vw 0;
    }
    line-height: 2rem;
    border:none;
    border-bottom:1px solid $primaryColor;
    width: 65vw;
    &:focus{
      outline: none !important;
      background-position: 0 0 !important;
      &::-webkit-input-placeholder{
        font-size: 1rem;
        transform: translateY(-20px);
        visibility: visible !important;
      }
    }
    &::-webkit-input-placeholder{
      @include transition(all 0.2s cubic-bezier(0.4, 0, 0.2, 1));
    }
    &::-moz-placeholder{
      @include transition(all 0.2s cubic-bezier(0.4, 0, 0.2, 1));
    }
    &:-ms-input-placeholder{
      @include transition(all 0.2s cubic-bezier(0.4, 0, 0.2, 1));
    }
  }
}


.rg-button-get {
  flex-grow: 1;
  align-self: flex-end;
  @include heading($darkText, 2rem);
  @include bp-small {
    width: 90%;
    margin-left: 0 !important;
    margin-top: 10px;
  }
  @include bp-large{
    margin-top: 10px;
    width: 90vw;
    margin-left: 0 !important;
  }
  @include button($primaryColor);
  margin-left: 10px;
  border: none;
  line-height: 3rem;
  height: 3rem;
  color: $lightText;
  @include transition(box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1));
}
  ul {
    @include bp-small{
      display: block;
    }
    transition: all .3s ease-in-out;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    list-style-type: none;
      li {
        @include bp-small{
          display: block;
        }
        width: 100%;
        text-align: center;
        display: inline-block;
          img {
            display: block;
            margin: 0 auto;
          }
        & h1 {
          width: 13rem;
          margin: 0 auto;
        }
        & p {
          font-family: Roboto, serif;
        }
      }
  }



