@font-face {
  font-family: Roboto-Thin;
  src: url("../Roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Roboto-Regular.ttf"); }
html {
  height: 100%; }

body {
  font-family: "Roboto-Thin", serif;
  outline: none;
  height: 100%;
  margin: 0; }
  body::selection {
    background: #f1f8e9; }

.rg-card {
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px 10px;
  flex-direction: column;
  justify-content: center; }

header {
  background-color: #5bb433; }
  header h1 {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    font-family: "Roboto-Thin", serif;
    font-size: 5rem;
    color: #f1f8e9;
    text-align: left; }
    @media screen and (max-width: 768px) {
      header h1 {
        font-family: "Roboto-Thin", serif;
        font-size: 3rem;
        color: #f1f8e9; } }

a {
  color: #f1f8e9;
  text-decoration: none; }
  a :visited {
    color: #f1f8e9; }

footer {
  height: 3rem;
  margin-top: 0;
  width: 100%;
  bottom: 0;
  background-color: #5bb433; }
  footer .copyright {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    font-family: "Roboto-Thin", serif;
    font-size: 1.2rem;
    color: #f1f8e9;
    text-align: right; }

.main {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column; }

.container {
  min-height: 100%; }

.title, .rg-name {
  margin-bottom: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0;
  font-family: "Roboto-Thin", serif;
  font-size: 4rem;
  color: #2e302f;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .title, .rg-name {
      font-size: 11vw !important; } }

.rg-photo {
  max-width: 90vw; }

.rg-response {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.rg-link {
  display: block;
  margin: 0 auto;
  max-height: inherit;
  color: #f1f8e9;
  text-decoration: none; }
  .rg-link :visited {
    color: #f1f8e9; }

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke: #5bb433;
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }
.rg-form {
  text-align: center;
  display: flex; }
  @media screen and (max-width: 1024px) {
    .rg-form {
      flex-direction: column; } }

@keyframes height {
  0% {
    max-height: 0; }
  100% {
    max-height: 100%; } }
.rg-card {
  margin: 0 auto;
  width: 44vw; }
  @media screen and (max-width: 1024px) {
    .rg-card {
      width: 90vw;
      margin: 0 auto; } }
  @media screen and (max-width: 768px) {
    .rg-card {
      width: 90vw; } }
  .rg-card > * {
    text-align: center;
    display: flex; }
  .rg-card.rg-response {
    max-height: 0;
    transition: max-height 1.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .rg-card.rg-response.open {
      max-height: 100vw; }
    .rg-card.rg-response > * {
      max-width: 90%;
      margin: 0 auto;
      max-height: inherit; }
  .rg-card .rg-address {
    flex-grow: 1;
    align-self: flex-start;
    font-family: "Roboto-Thin", serif;
    font-size: 2rem;
    color: #2e302f;
    line-height: 2rem;
    border: none;
    border-bottom: 1px solid #5bb433;
    width: 65vw; }
    @media screen and (max-width: 1024px) {
      .rg-card .rg-address {
        width: 90vw;
        background-position: -90vw 0; } }
    .rg-card .rg-address:focus {
      outline: none !important;
      background-position: 0 0 !important; }
      .rg-card .rg-address:focus::-webkit-input-placeholder {
        font-size: 1rem;
        transform: translateY(-20px);
        visibility: visible !important; }
    .rg-card .rg-address::-webkit-input-placeholder {
      -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    .rg-card .rg-address::-moz-placeholder {
      -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    .rg-card .rg-address:-ms-input-placeholder {
      -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.rg-button-get {
  flex-grow: 1;
  align-self: flex-end;
  font-family: "Roboto-Thin", serif;
  font-size: 2rem;
  color: #2e302f;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: Roboto, serif !important;
  -webkit-transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1), shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1), shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1), shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1), shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1), shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: #5bb433;
  margin-left: 10px;
  border: none;
  line-height: 3rem;
  height: 3rem;
  color: #f1f8e9;
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  @media screen and (max-width: 768px) {
    .rg-button-get {
      width: 90%;
      margin-left: 0 !important;
      margin-top: 10px; } }
  @media screen and (max-width: 1024px) {
    .rg-button-get {
      margin-top: 10px;
      width: 90vw;
      margin-left: 0 !important; } }
  .rg-button-get:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .rg-button-get:focus {
    outline: none; }

ul {
  transition: all .3s ease-in-out;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  list-style-type: none; }
  @media screen and (max-width: 768px) {
    ul {
      display: block; } }
  ul li {
    width: 100%;
    text-align: center;
    display: inline-block; }
    @media screen and (max-width: 768px) {
      ul li {
        display: block; } }
    ul li img {
      display: block;
      margin: 0 auto; }
    ul li h1 {
      width: 13rem;
      margin: 0 auto; }
    ul li p {
      font-family: Roboto, serif; }

/*# sourceMappingURL=landing.css.map */
