@import "vars.scss";

@mixin link {
  color: $lightText;
  text-decoration: none;
  & :visited {
    color: $lightText;
  }
}

@mixin flex($justify, $direction) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
}


@mixin card($direction, $justify){
  display: flex;
  box-shadow: $shadow;
  padding: 15px 10px;
  flex-direction: $direction;
  justify-content: $justify;

}

@mixin margin{
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0;
}
@mixin heading($color, $size){
  font-family: "Roboto-Thin", serif;
  font-size: $size;
  color: $color;
}
@mixin transition($args...){
  -webkit-transition: $args;
  -moz-transition: $args ;
  -ms-transition: $args ;
  -o-transition: $args ;
  transition: $args ;
}
@mixin button($color){
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: Roboto, serif !important;
  @include transition(background  0.2s cubic-bezier(0.4, 0, 0.2, 1), shadow-box  0.2s cubic-bezier(0.4, 0, 0.2, 1));
  cursor: pointer;
  background-color: $color;
  &:active{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }
  &:focus {
    outline: none;
  }
}