html {
  height: 100%; }

body {
  font-family: "Roboto-Thin", serif;
  outline: none;
  height: 100%;
  margin: 0; }
  body::selection {
    background: #f1f8e9; }

.rg-card {
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px 10px;
  flex-direction: column;
  justify-content: center; }

header {
  background-color: #5bb433; }
  header h1 {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    font-family: "Roboto-Thin", serif;
    font-size: 5rem;
    color: #f1f8e9;
    text-align: left; }
    @media screen and (max-width: 768px) {
      header h1 {
        font-family: "Roboto-Thin", serif;
        font-size: 3rem;
        color: #f1f8e9; } }

a {
  color: #f1f8e9;
  text-decoration: none; }
  a :visited {
    color: #f1f8e9; }

footer {
  height: 3rem;
  margin-top: 0;
  width: 100%;
  bottom: 0;
  background-color: #5bb433; }
  footer .copyright {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    font-family: "Roboto-Thin", serif;
    font-size: 1.2rem;
    color: #f1f8e9;
    text-align: right; }

.main {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column; }

.container {
  min-height: 100%; }

.title, .rg-name {
  margin-bottom: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0;
  font-family: "Roboto-Thin", serif;
  font-size: 4rem;
  color: #2e302f;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .title, .rg-name {
      font-size: 11vw !important; } }

.rg-photo {
  max-width: 90vw; }

.rg-response {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.rg-link {
  display: block;
  margin: 0 auto;
  max-height: inherit;
  color: #f1f8e9;
  text-decoration: none; }
  .rg-link :visited {
    color: #f1f8e9; }

@font-face {
  font-family: Roboto-Thin;
  src: url("../Roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: Roboto;
  src: url("../Roboto/Roboto-Regular.ttf"); }
img {
  max-width: 80vw; }

/*# sourceMappingURL=results.css.map */
