html {
  height: 100%; }

body {
  font-family: "Roboto-Thin", serif;
  outline: none;
  height: 100%;
  margin: 0; }
  body::selection {
    background: #f1f8e9; }

header {
  background-color: #5bb433; }
  header h1 {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    font-family: "Roboto-Thin", serif;
    font-size: 5rem;
    color: #f1f8e9;
    text-align: left; }

a {
  color: #f1f8e9;
  text-decoration: none; }
  a :visited {
    color: #f1f8e9; }

footer {
  height: 3rem;
  margin-top: 0;
  width: 100%;
  bottom: 0;
  background-color: #5bb433; }
  footer .copyright {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    font-family: "Roboto-Thin", serif;
    font-size: 1.2rem;
    color: #f1f8e9;
    text-align: right; }

.main {
  margin-bottom: 6rem; }

.container {
  min-height: 100%; }

/*# sourceMappingURL=template.css.map */
