@import "vars.scss";
@import "mixins.scss";
@import "media.scss";

html {
  height: 100%;
}

body {
  font-family: "Roboto-Thin", serif;
  outline: none;
  height: 100%;
  margin: 0;
  &::selection{
    background: #f1f8e9;
  }
}
.rg-card {
  @include card(column, center);
}

header {
  background-color: $primaryColor ;
  & h1{
    @include margin;
    @include heading($lightText, 5rem);
    @include bp-small{
      @include heading($lightText, 3rem);
    }
    text-align: left;
  }
}


a {
  @include link;
}

footer {
  & .copyright {
    @include margin;
    @include heading($lightText, 1.2rem);
    text-align: right;
  }
  height: 3rem;
  margin-top: 0;
  width: 100%;
  bottom: 0;
  background-color: $primaryColor;
}

.main {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
}
.container {
  min-height:100%;
}

.title, .rg-name {
  margin-bottom: 0;
  @include margin;
  @include heading($darkText, 4rem);
  text-align: center;
  @include bp-small{
    font-size: 11vw !important;
  }
}

.rg-photo {
  max-width: 90vw;
}

.rg-response {
  @include flex(center, column);
}

.rg-link {
  display: block;
  margin: 0 auto;
  max-height: inherit;
  @include link;

}