@font-face{font-family:Roboto-Thin;src:url("../Roboto/Roboto-Thin.ttf")}@font-face{font-family:Roboto;src:url("../Roboto/Roboto-Regular.ttf")}button{font-family:"Roboto-Thin", serif;font-size:2rem;color:#2e302f;border-radius:3px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.26);font-family:Roboto, serif !important;-webkit-transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);-moz-transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);-ms-transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);-o-transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);cursor:pointer;background-color:#5bb433;margin-left:10px;margin-top:30px;border:none;line-height:3rem;height:3rem;width:5rem;color:#f1f8e9}@media screen and (max-width: 768px){button{width:90%;margin-left:0 !important}}@media screen and (max-width: 1024px){button{width:80vw;margin-left:0 !important}}button:active{box-shadow:0 8px 17px 0 rgba(0,0,0,0.2)}html{height:100%}body{height:100%;margin:0}body *{font-family:"Roboto-Thin", serif;outline:none}body *::selection{background:#f1f8e9}a{color:#f1f8e9}header{background-color:#5bb433}header h1{margin-right:1rem;margin-left:1rem;margin-top:0;font-family:"Roboto-Thin", serif;font-size:5rem;color:#f1f8e9;text-align:left}.title{margin-right:1rem;margin-left:1rem;margin-top:0;font-family:"Roboto-Thin", serif;font-size:4rem;color:#2e302f;text-align:center}footer{height:3rem;margin-top:0;width:100%;bottom:0;background-color:#5bb433}footer .copyright{margin-right:1rem;margin-left:1rem;margin-top:0;font-family:"Roboto-Thin", serif;font-size:1.2rem;color:#f1f8e9;text-align:right}footer .copyright a{text-decoration:none}footer .copyright a :visited{color:#f1f8e9}

.rg-form {text-align:center;padding:0 10px}

.rg-form input{font-family:"Roboto-Thin", serif;font-size:2rem;color:#2e302f;line-height:2rem;border:none;border-bottom:1px solid #5bb433;background:linear-gradient(to bottom, rgba(255,255,255,0) 96%, #5bb433 4%);background-repeat:no-repeat;background-position:-800px;width:800px;transition:transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1)}@media screen and (max-width: 1024px){
    .rg-form input{width:90vw;background-position:-90vw 0}}

.rg-form input:focus{background-position:0 0 !important}

.rg-form input:focus::-webkit-input-placeholder{font-size:1rem;transform:translateY(-20px);visibility:visible !important}@media screen and (max-width: 768px){
    .rg-form input:focus::-webkit-input-placeholder{font-size:1rem !important}}

.rg-form input::-webkit-input-placeholder{transition:all .3s ease-in-out}

.rg-form input::-moz-placeholder{transition:all .3s ease-in-out}

.rg-form input:-ms-input-placeholder{transition:all .3s ease-in-out}  button{font-family:"Roboto-Thin", serif;font-size:2rem;color:#2e302f;border-radius:3px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.26);font-family:Roboto, serif !important;-webkit-transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);-moz-transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);-ms-transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);-o-transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);transition:background 0.2s cubic-bezier(0.4, 0, 0.2, 1),shadow-box 0.2s cubic-bezier(0.4, 0, 0.2, 1);cursor:pointer;background-color:#5bb433;margin-left:10px;margin-top:30px;border:none;line-height:3rem;height:3rem;width:5rem;color:#f1f8e9}@media screen and (max-width: 768px){button{width:90%;margin-left:0 !important}}@media screen and (max-width: 1024px){button{width:80vw;margin-left:0 !important}}  button:active{box-shadow:0 8px 17px 0 rgba(0,0,0,0.2)}  button:hover{background-color:#75cd4d}  img{max-width:80vw}  ul{transition:all .3s ease-in-out;padding:0;display:flex;justify-content:space-between;text-align:justify;list-style-type:none}@media screen and (max-width: 768px){ul{display:block}}  ul li{width:100%;text-align:center;display:inline-block}@media screen and (max-width: 768px){ul li{display:block}}  ul li img{display:block;margin:0 auto}  ul li h1{width:13rem;margin:0 auto}  ul li p{font-family:Roboto, serif}  .main{margin-bottom:6rem}  .container{min-height:100%}
